.fists-sentence {
  font-size: xx-large;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: rgb(196, 246, 248);
}
.second-sentence {
  font-size: larger;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: rgb(178, 244, 247);
}
.third-sentence {
  font-size: larger;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: rgb(178, 244, 247);
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  /* padding: 0 20px; */
}
.headshot_about {
  border-radius: 9.5rem;
  width: 300px;
}
.image-div {
  transition: 2000ms;
}
